<main>
  <div class="error-submit">
    <div class="submit-title">
      <h1>更新内容を記録してください</h1>
    </div>
    <%= form_with model:@error, local: true do |f| %>
      <%= render "layouts/error_masages", model:f.object %>
      <table class="content-table">
        <tr>
          <th class="content-item">タイトル</th>
          <td class="content-body"><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th class="content-item">学習フェーズ</th>
          <td class="content-body"> <%= f.select :learning_phase, @learning_phases.keys.map{|k| [I18n.t("enums.error.learning_phase.#{k}"), k]}, include_blank: "--選択して下さい--" %></td>
        </tr>
        <tr>
          <th class="content-item">技術項目</th>
          <td class="content-body"><%= f.collection_select :used_technology_id, UsedTechnology.all, :id, :name, include_blank: "--選択して下さい--" %></td>
        </tr>
        <tr>
          <th class="content-item">エラー内容(Markdown形式で入力できます)</th>
          <td class="content-body">
            <%= f.text_area :detail %><br>
            Markdown形式の入力は<strong><a href="https://qiita.com/Qiita/items/c686397e4a0f4f11683d" target="_blank" rel="noopener noreferrer" style="color:#60AB9A;">
            こちら</a></strong>を参考にしてください
          </td>
        </tr>
        <tr>
          <th class="content-item">画像がある場合</th>
          <td class="content-body"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th class="content-item">解決方法(Markdown形式で入力できます)</th>
          <td class="content-body">
            <%= f.text_area :solution %><br>
            Markdown形式の入力は<strong><a href="https://qiita.com/Qiita/items/c686397e4a0f4f11683d" target="_blank" rel="noopener noreferrer" style="color:#60AB9A;">
            こちら</a></strong>を参考にしてください
          </td>
        </tr>
        <tr>
          <th class="content-item">質問URL</th>
          <td class="content-body"><%= f.text_field :url %></td>
        </tr>
        <tr>
          <th class="content-item">対応者名</th>
          <td class="content-body"><%= f.text_field :mentor_name %></td>
        </tr>
      </table>
      <%= f.submit "更新", class:"content-submit" %>
    <% end %>
  </div>
</main>
