<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
    <div class="dubmit-page">
      <h3>エラー対応を記録してください</h3>
    </div>
      <%= form_with model: @error, local: true do |f|%>
        <div class="form-group">
          <%= f.label :title, "タイトル",  class: "col-md-3 col-form-label" %>
          <%= f.text_field :title, class:"form-control form-control-sm col-md-10" %>
        </div>
        <div class="form-group row">
          <%= f.label :study_phase, "学習フェーズ", class: "col-md-2 col-form-label" %>
          <%= f.select :study_phase, Error.study_phases_i18n.keys.map {|k| [I18n.t("enums.error.study_phase.#{k}"), k]} %>
          <%#= f.text_field :study_phase, class:"form-control form-control-sm col-md-3" %>
          <%= f.label :technical_item_id, "技術項目", class: "col-md-1 col-form-label" %>
          <%= f.text_field :technical_item_id, class:"form-control form-control-sm col-md-3" %>
        </div>
        <div class="form-group">
          <%= f.label :detail, "エラー内容", class: "col-md-3 col-form-label" %>
          <div class="form-inline">
            <%= f.text_area :detail, class:"form-control col-md-4", size: "50x5" %>
            <%= f.label "画像がある場合", class: "col-md-2 col-form-label" %>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :solution, "解決方法(Markdown形式で入力できます)", class: "col-md-5 col-form-label" %>
          <%= f.text_area :solution, class:"form-control col-md-10", size: "50x10" %>
        </div>
        <div class="form-group row">
          <%= f.label :url, "質問URL", class: "col-md-1 col-form-label" %>
          <%= f.text_field :url, class:"form-control form-control-sm col-md-3" %>
          <%= f.label :url, "対応者名", class: "col-md-1 col-form-label ml-3" %>
          <%= f.text_field :mentor_name, class:"form-control form-control-sm col-md-3" %>
        </div>
        <%= f.submit "投稿",class: 'btn btn-success ml-2' %>
      <% end %>
    </div>
  </div>
</div>