<main>
  <div class="error-submit">
    <div class="submit-title">
      <h1>エラー対応を記録を記入してくだい</h1>
    </div>
    <%= form_with model:@error, local: true do |f| %>
      <table class="content-table">
        <tr>
          <th class="content-item">タイトル</th>
          <td class="content-body"><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th class="content-item">学習フェーズ</th>
          <td class="content-body"> <%= f.select :learning_phase, @learning_phases.keys.map{|k| [I18n.t("enums.error.learning_phase.#{k}"), k]}, include_blank: "--選択して下さい--" %></td>
        </tr>
        <tr>
          <th class="content-item">技術項目</th>
          <td class="content-body"><%= f.collection_select :technical_item_id, TechnicalItem.all, :id, :name, include_blank: "--選択して下さい--" %></td>
        </tr>
        <tr>
          <th class="content-item">エラー内容</th>
          <td class="content-body"><%= f.text_area :detail %></td>
        </tr>
        <tr>
          <th class="content-item">画像がある場合</th>
          <td class="content-body"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th class="content-item">解決方法(Markdown形式で入力できます)</th>
          <td class="content-body"><%= f.text_area :solution %></td>
        </tr>
        <tr>
          <th class="content-item">質問URL</th>
          <td class="content-body"><%= f.text_field :url %></td>
        </tr>
        <tr>
          <th class="content-item">対応者名</th>
          <td class="content-body"><%= f.text_field :mentor_name %></td>
        </tr>
      </table>
      <%= f.submit "投稿", class:"contact-submit" %>
    <% end %>
  </div>
</main>
