<main>
  <div class="error-details">
    <div class="details-title">
      <h1>エラー対応詳細</h1>
    </div>
    <div class="btn-favorite">
      <div class="favorite-btn<%= @error.id %>">
        <% if mentor_signed_in? %>
          <%= render "favorites/favorite_btn", error: @error, mentor: current_mentor %>
        <% else %>
          <%= link_to error_favorites_path(@error.id), method: :post do %>
            <i class="fas fa-thumbs-up text-secondary fa-3x"></i>  <span class="text-secondary h5">高評価</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <table class="content-table">
      <tr>
        <th class="content-item">タイトル</th>
        <td class="content-body"><%= @error.title %></td>
      </tr>
      <tr>
        <th class="content-item">学習フェーズ</th>
        <td class="content-body"> <%=  @error.learning_phase_i18n %></td>
      </tr>
      <tr>
        <th class="content-item">技術項目</th>
        <td class="content-body"><%= @error.used_technology.name %></td>
      </tr>
      <tr>
        <th class="content-item">エラー内容</th>
        <td class="content-body"><%= markdown(@error.detail).html_safe %></td>
      </tr>
      <tr>
        <th class="content-item">画像がある場合<br>(クリックで拡大)</th>
        <td class="content-body">
          <% @error.images.each do |image| %>
            <%= link_to image, "data-lightbox"=> image do %>
              <%= image_tag(image, width:300, height:150) %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="content-item">解決方法</th>
        <td class="content-body"><%= markdown(@error.solution).html_safe  %></td>
      </tr>
      <tr>
        <th class="content-item">質問URL</th>
        <td class="content-body">
          <a href=<%= @error.url %> target="_blank" rel="noopener noreferrer" style="color:black;"><%= @error.url %></a>
        </td>
      </tr>
      <tr>
        <th class="content-item">対応者名</th>
        <td class="content-body"><%= @error.mentor_name %></td>
      </tr>
    </table>
      <% unless current_mentor.nil? %>
        <% if @error.mentor_id == current_mentor.id %>
        <div class="error-btn">
          <%= link_to "編集", edit_error_path(@error), class:"btn" %>
          <%= link_to "削除する", error_path(@error), method: :delete, 'data-confirm' => "本当に消しますか？", class:"btn", style:"background-color: #D38493;" %>
        </div>
        <% end %>
      <% end %>
  </div>
  <div class="error-comments">
    <div class="comment-form">
      <%= form_with model:[@error, @comment], local: true do |f| %>
        <%= f.text_area :comment, placeholder: "コメントをここに" %>
        <%= f.submit "送信", class:"comment-submit" %>
      <% end %>
    </div>
    <div class="comments-table">
      <%= render "error_comments/table_comments", error: @error %>
    </div>
  </div>
</main>